/*
CSS for the connect page on smartphones
*/
@media only screen and (max-device-width: 480px) {

  html, body {
    font-family: "Segoe UI";
    font-size: 45px;
  }

  #logoHelpandi {
    position: absolute;
    left: 12%;
    height: 50%;
  }

  .sign_in {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 55%;
    left: 35%;
    width: 310px;
    height: 310px;
    border: 4px solid black;
    border-radius: 50%;

  }

  #wrap_sign_up {
    position: absolute;
    top: 77%;
    left: 10%;
    display: flex;
    flex-direction: row;
    width: 70vw;
  }

  .wrap_input_sign_up {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
  }

  .sign_up_input {
    width: 400px;
    height: 60px;
    padding-left: 15px;
    border: 5px solid black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: .6em;
  }

  .sign_up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin-left: 40%;
    border: 4px solid black;
    border-radius: 50%;
    font-size: 40px;
  }



  /*
  *
  *
  *
  MODAL
  *
  *
  *
  */

  #wrap_regle {

  	position:absolute;
  	bottom:2%;
  	left:30%;
  	display:flex;
  	flex-direction:row;
  	justify-content:space-around;
  	align-items:center;
  	width:45%;
  	height:20%;

  }

  .regles {
    position: absolute;
    top: 95%;
    left: 30%;
  	text-decoration: none;
    color:rgb(124, 124, 124);
    font-size: 45px;
  }


  #fermer {
  	text-decoration: none;
  	color:blue;
  }

  .cModal {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    pointer-events: none;
    transition: 0.5s linear;
  }

  @-webkit-keyframes fade

  	from {opacity:0;}

  	to {opacity: 1;}


  .cModal:target {
    opacity:1;
    pointer-events: auto;
    -webkit-animation-name: fade;
     -webkit-animation-duration: 0.5s;
     animation-name: fade;
     animation-duration: 0.5s;
  }
  .cModal > div {
    max-width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 8px 8px 8px 8px;
    border-radius: 2px;
    background: #fff;
  }


}
