
/*
CSS for smartphones
- This is the CSS for elements position on smartphones

To see themes : go in Themes folder.

*/
@media only screen(max-device-width: 414px) {
  html, body {
    width: 100%;
    height: 100%;
    overflow: none;
  }

  #iframeConnect  {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }



}
